.App {
  margin-left: 400px;
  text-align: center;
}

.main {
  float: center;
  margin: auto;
  width: 90%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 70px;
}
.main-login {
  float: center;
  margin-left: 300px;
  width: 40%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-register {
  float: center;
  margin-left: 150px;
  width: 60%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-center {
  text-align: center;
}
.sub-main {
  font-size: 20px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgb(224, 219, 219);
}
.sub-dash1 {
  width: 800px;
  height: 300px;
  font-size: 20px;
  text-align: start;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: rgb(224, 219, 219);
}
.sub-dash2 {
  width: 800px;
  height: 500px;
  font-size: 20px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgb(224, 219, 219);
}
.sub-dash3 {
  float: right;
  width: 400px;
  height: 230px;
  font-size: 20px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 20px;
  margin-bottom: 70px;
  border-radius: 20px;
  background-color: rgb(224, 219, 219);
}
.main-profile {
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  padding-top: 50px;
  padding-bottom: 70px;
}
.sub-main-profile {
  justify-content: center;
  font-size: 20px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 50px;
  margin-bottom: 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(224, 219, 219, 0.801);
  background-color: rgb(224, 219, 219);
}

.forgot-button {
  float: center;
  width: 200px;
  height: 40px;
  margin: 20px;
  border-radius: 5px;
  background-color: #a0a0a0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
}
.forgot-button:hover {
  background-color: #bebebe;
}
.forgot-button:active {
  background-color: #666666;
}

.logout-button {
  font-size: 2rem;
  margin-left: 100px;
  height: 70px;
  width: 150px;
}
.logout-button:hover {
  color: #bebebe;
}
.logout-button:active {
  color: #a0a0a0;
}

.table {
  text-align: center;
  border-style: solid;
}
td {
  width: 500px;
}

.account-sub-main {
  justify-content: center;
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 50px;
  margin-bottom: 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  background-color: white;
}
.account-button {
  margin: 0px 0px 0px 5px;
  padding: 10px;
  min-width: 100px;
  width: auto;
  height: auto;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
}
.account-button-blue {
  margin: 0px 0px 0px 5px;
  padding: 10px;
  min-width: 100px;
  width: auto;
  height: auto;
  border-radius: 20px;
  background-color: rgb(81, 164, 237);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
}
.account-button-blue-add {
  margin: 0px 20px 0px 20px;
  min-width: 100px;
  width: auto;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(81, 164, 237);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
}
.list {
  margin: 50px;
}
.list-sub-table {
  justify-content: center;
  padding: 10px;
  height: auto;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  background-color: white;
  font-size: 25px;
  border: none;
}
.head {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 10px;
}
.head-left {
  justify-content: left;
  display: inline-flex;
  padding-top: 10px;
}

.search-input {
  text-align: center;
  width: 800px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
  box-shadow: inset 0px 0px 5px 0px rgb(202, 197, 197);
  border: none;
  outline: none;
}

.form-radio {
  text-align: center;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 0px rgb(202, 197, 197);
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
}
.form-radio-space {
  margin-top: 7px;
}
.input_field {
  background-color: #ff0000;
  color: #ff0000;
}

.topProfile {
  float: right;
  margin-right: 100px;
  justify-content: right;
  display: inline-flex;
  padding-top: 10px;
}

.topProfile__left {
  display: flex-inline;
  text-align: right;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.topHeading {
  float: left;
  margin-top: 20px;
  margin-left: 100px;
}

.dash_value {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 80px;
}
